<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main class="layout-stack">
        <% if (errorMessage) { %>
            <div class="user-message user-message--error"><%= errorMessage %></div>
        <% } %>
        <div class="form-card">
            <form class="form-stack" action="/login" method="POST">
                <div class="form-control">
                    <label for="email">E-Mail</label>
                    <input class="<%= validationErrors.find(e => e.path === 'email') ? 'invalid' : '' %>" type="email" name="email" id="email" value="<%= oldInput.email %>">
                </div>
                <div class="form-control">
                    <label for="password">Password</label>
                    <input class="<%= validationErrors.find(e => e.path === 'password') ? 'invalid' : '' %>" type="password" name="password" id="password" value="<%= oldInput.password %>">
                </div>
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <div class="flex items-center justify-between gap-4">
                    <button class="btn-solid" type="submit">Login</button>
                    <a href="/reset" class="text-sm">Reset Password</a>
                </div>
            </form>
        </div>
    </main>
<%- include('../includes/end.ejs') %>