<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main class="layout-stack">
        <% if (errorMessage) { %>
            <div class="user-message user-message--error"><%= errorMessage %></div>
        <% } %>
        <div class="form-card">
            <form class="form-stack" action="/admin/<% if (editing) { %>edit-product<% } else { %>add-product<% } %>" method="POST" enctype="multipart/form-data">
                <div class="form-control">
                    <label for="title">Title</label>
                    <input class="<%= validationErrors.find(e => e.path === 'title') ? 'invalid' : '' %>" type="text" name="title" id="title" value="<% if (editing) { %><%= product.title %><% } else { %><%= oldInput.title %><% } %>">
                </div>
                <div class="form-control">
                    <label for="image">Image</label>
                    <input type="file" name="image" id="image">
                </div>
                <div class="form-control">
                    <label for="price">Price</label>
                    <input class="<%= validationErrors.find(e => e.path === 'price') ? 'invalid' : '' %>" type="number" name="price" id="price" step="0.01" value="<% if (editing) { %><%= product.price %><% } else { %><%= oldInput.price %><% } %>">
                </div>
                <div class="form-control">
                    <label for="description">Description</label>
                    <textarea class="<%= validationErrors.find(e => e.path === 'description') ? 'invalid' : '' %>" name="description" id="description" rows="5"><% if (editing) { %><%= product.description %><% } else { %><%= oldInput.description %><% } %></textarea>
                </div>
                <% if (editing) { %>
                    <input type="hidden" value="<%= product._id %>" name="productId">
                <% } %>

                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button class="btn-solid" type="submit"><% if (editing) { %>Update Product<% } else { %>Add Product<% } %></button>
            </form>
        </div>
    </main>
<%- include('../includes/end.ejs') %>